Repository desyreegarcia/ong-pose, pull requests merged in 2025-09, with the labels that each got.

#10 Add: HTML's for diferent pages in the sections
  CSS/Style_Principal.css
  CSS/Style_sobre.css
  HTML/Contribuicao.html
  HTML/Pagina_principal.html
  HTML/Parcerias.html
  HTML/Projetos.html
  HTML/Sobre.html
Labels: Style, Feature

#29 24 modify principalhtml
  CSS/Style_Contato.css
  CSS/Style_Contrubuicao.css
  CSS/Style_Parcerias.css
  CSS/Style_Principal.css
  CSS/Style_Projetos.css
  CSS/Style_sobre.css
  HTML/Contato.html
  HTML/Contribuicao.html
  HTML/Pagina_principal.html
  HTML/Parcerias.html
  HTML/Projetos.html
  HTML/Sobre.html
  Images/carta.png
  Images/celular.png
  Images/localizacao.png
Labels: Style

#35 Update Pagina_principal.html
  HTML/Pagina_principal.html
Labels: bug
